<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Doomsday</title>

 <link rel="icon" type="image/x-icon" href="favicon.ico">

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Radio+Canada:wdth,wght@93.4,584;100,400;100,700&display=swap" rel="stylesheet">

 <!-- original source code from where I got the favicon

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

-->

    <!-- Required meta tags for bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

<body>

<!--Note this is bootstrap 3.4.1 installed as the bootstrap-sass gem, so make sure to use relevant docs -->



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fa fa-bomb"></i> Project Doomsday
        <% end %>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!-- 
        <li class="active"><a href="dash">Dashboard <span class="sr-only">(current)</span></a></li>
        -->

        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", new_contact_path %></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Current Projects<span class="caret"></span></a>
          <ul class="dropdown-menu">  
            <li><a href="debris.html">Retrieving Space Debris</a></li>
            <li><a href="bomb.html">Planetary Destruction</a></li>
            
            <!-- 
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
            -->

          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <div class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <!-- 
          IN upskill the line was like this:
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
          But after some googling, I found I needed method: :delete to be inside this hash, and used turbo_method AND I needed to turn off my add blocker,
          which was fukign up my java script and that was keeping the log out btton from working
          -->

          <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-default navbar-btn" %>
        <% else %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-default navbar-btn"  %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn"  %>
        <% end %>

      </div>
      <!-- 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>-->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">  
  <% flash.each do |type, msg| %>
   <%= content_tag :div, msg, class: "alert alert-#{type}" %>
  <% end %>
</div>

      <%= yield %>

</body>
</html>
